.abt {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.qua {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 570px) {
    .abt {
        grid-template-columns: repeat(2, 1fr);
    }
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
}

ul i {
    margin-right: 5px;
}

.meimg{
    height: 50%;
    width: 30%;
}


@media (max-width: 990px) {
    .meimg {

        height: 530px;
        width: 500px;
    }
}

@media (max-width: 500px) {
    .meimg {

        height: 310px;
        width: 300px;
    }
}

.skillcon    {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    justify-items: center;
}

.box1 {
    width: 120px;
    height: 120px;
    background-image: url(assets/pss.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 27px;
}

.box2 {
    width: 120px;
    height: 120px;
    background-image: url(assets/ais.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 27px;
}

.box3 {
    width: 120px;
    height: 120px;
    background-image: url(assets/prs.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 27px;
}

.box4 {
    width: 120px;
    height: 120px;
    background-image: url(assets/aes.png);
    background-size: contain;
    
    border-radius: 27px;
}

.box5 {
    width: 120px;
    height: 120px;
    background-image: url(assets/maya.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box6 {
    width: 120px;
    height: 120px;
    background-image: url(assets/dsmax.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box7 {
    width: 120px;
    height: 120px;
    background-image: url(assets/substancepainter.webp);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 27px;
}

.box8 {
    width: 120px;
    height: 120px;
    background-image: url(assets/html.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box9 {
    width: 120px;
    height: 120px;
    background-image: url(assets/css.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box10 {
    width: 120px;
    height: 120px;
    background-image: url(assets/figma.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 27px;
}

@media (max-width: 673px) {
    .skillcon  {
        grid-template-columns: repeat(2, 1fr);
    }
    .box1 {
        width: 80px;
        height: 80px;
        border-radius: 24px;

    }
    .box2 {
        width: 80px;
        height: 80px;
        border-radius: 24px;

    }
    .box3 {
        width: 80px;
        height: 80px;
        border-radius: 24px;

    }
    .box4 {
        width: 80px;
        height: 80px;
        border-radius: 24px;

    }
    .box5 {
        width: 80px;
        height: 80px;
        border-radius: 0px;

    }
    .box6 {
        width: 80px;
        height: 80px;
        border-radius: 0px;

    }
    .box7 {
        width: 80px;
        height: 80px;
        border-radius: 24px;

    }
    .box8 {
        width: 80px;
        height: 80px;
        border-radius: 24px;

    }
    .box9 {
        width: 80px;
        height: 80px;
        border-radius: 24px;

    }
    .box10 {
        width: 80px;
        height: 80px;
        border-radius: 24px;

    }
}

.space{
    height: 30px;
    width: 10px;
}






            
      
